body{
    background-color: #ff9a5b;
}

.header{
    background-color: #4b9115;
    color: #ff9a5b ;
    height: 150px;
    margin-top: 0px;
}

h2{
    font-size: 70px;
    line-height: 150px;
    margin-left: 50px;
    font-family: Righteous;
}
h4{
    font-size: 18px;
    color: #FFF;
    margin-left: 53px;
    transform: translateY(-50px);
}

.appBody{
    margin: 0px auto;
    width: 700px;
    margin-top: 100px;
}

#generate{
    width: 500px;
    height: 80px;
    border: 0px;
    border-radius: 10px;
    background-color: #4b9115;
    color: #FFF;
    font-family: Lato;
    font-size: 50px;
    box-shadow: 1px 1px 1px #555;
}

#generate:active, #generate:focus{
    outline: none;
}

.result{
    margin: 0px auto;
    width: 700px;
   
}

.choice, #search{
    width: 450px;
    height: 80px;
    border: 0px;
    border-radius: 5px;
    background-color: #FFF;
    margin-bottom: 5px;
    font-size:30px;
}

.remove, #yelp{
    width: 100px;
    height: 80px;
    border: 0px;
    border-radius: 5px;
    background-color: #f92420;
    margin-bottom: 5px;
    font-size: 30px;
}

.final{
    width: 100px;
    height: 80px;
    border: 0px;
    border-radius: 5px;
    background-color: #4b9115;
    margin-bottom: 5px;
    font-size: 30px;
}

.text{
    font-size: 30px;
    width: 500px;
    line-height: 40px;
}

#numppl{
    width:500px;
    height: 60px;
    font-size: 30px;
}